{% extends '::base.html.twig' %}

{% block title %}GPS{% endblock %}

{% block stylesheets %}
    {% stylesheets
    output='css/compiled/main.css'
    '@GPSBundle/Resources/less/main.less' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts output='js/compiled/main.js'
    '@GPSBundle/Resources/js/*'
    '%kernel.root_dir%/../vendor//twitter/bootstrap/js/bootstrap-*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ path('homepage') }}">ExpertGPS</a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-user icon-white"></i>
                                    {{ app.user.username }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_edit') }}">Cuenta</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}">Cambiar Password</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav">
                        <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                        <li><a href="{{ path('driver') }}">Conductores</a></li>
                        <li><a href="{{ path('vehicle') }}">Vehiculos</a></li>
                        <li><a href="{{ path('user') }}">Usuarios</a></li>
                        <li><a href="{{ path('fos_user_group_list') }}">Grupos</a></li>
                        <li><a href="{{ path('geo_pinterest') }}">Puntos de Interés</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="visible-desktop" style="margin-top: 60px"></div>
    <div class="container-fluid">

        {% block alert %}
        {% endblock alert %}

        {% block content %}
        {% endblock content %}

    </div>

{% endblock body %}
