{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="span3">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Vehiculos</a></li>
                    <li><a href="#tab2" data-toggle="tab">Filtros</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <h3>Vehiculos</h3>
                        <table class="table table-full">
                            <thead>
                            <tr>
                                <th>Placa</th>
                                <th>Km/h</th>
                                <th>Tiempo</th>
                                <th>X</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vehicle in vehicles %}
                                <tr>
                                    <td>{{ vehicle.plate }}</td>
                                    <td>{{ vehicle.plots|last.speedOverGround }}</td>
                                    <td><abbr class="timeago" title="{{ vehicle.plots|last.datestamp|date("m/d/y") }} {{ vehicle.plots|last.timestamp|date("h:m:s") }}">-</abbr></td>
                                    <td><a class="btn btn-primary btn-mini" href="{{ path('dashboard_tracking', {plate: vehicle.plate}) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <h3>Filtros</h3>
                        <div>
                            <form action="{{ path('dashboard_filter') }}" method="post">
                                {{ form_errors(filter_form) }}
                                {{ form_row(filter_form.type, {'attr': {'class': 'span2'}}) }}
                                {{ form_row(filter_form.content, {'attr': {'class': 'span2'}}) }}
                                {{ form_row(filter_form.beginDate) }}
                                {{ form_row(filter_form.beginTime) }}
                                {{ form_row(filter_form.endDate) }}
                                {{ form_row(filter_form.endTime) }}

                                {{ form_rest(filter_form) }}
                                <button class="btn btn-primary btn-small" type="submit">Filtrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9">
            <div id="map" class="span11" style="height: 500px" ></div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="/bundles/gpsdemo/js/jquery.js"></script>
    <script type="text/javascript" src="/bundles/gpsdemo/js/gmap3.js"></script>
    <script type="text/javascript" src="/bundles/gpsdemo/js/bootstrap-min.js"></script>
    <script type="text/javascript" src="/bundles/gpsdemo/js/timeago.js"></script>

    <script type="text/javascript">

        $map = $('#map');
        $map.gmap3();

        function updateMap(data) {
            $map.gmap3({
                marker:{
                    values: data,
                    events:{
                        mouseover: function(marker, event, context){
                            var map = $(this).gmap3("get"),
                                    infowindow = $(this).gmap3({get:{name:"infowindow"}});
                            if (infowindow){
                                infowindow.open(map, marker);
                                infowindow.setContent(context.data);
                            } else {
                                $(this).gmap3({
                                    infowindow:{
                                        anchor:marker,
                                        options:{content: context.data}
                                    }
                                });
                            }
                        },
                        mouseout: function(){
                            var infowindow = $(this).gmap3({get:{name:"infowindow"}});
                            if (infowindow){
                                infowindow.close();
                            }
                        }
                    }
                }
            });
            console.log(data[0].timestamp + " - " + data[1].timestamp);
        }

        $.ajax({
            url:"{{ route }}",
            success:updateMap
        });

        setInterval(function () {
            $.ajax({
                url:"{{ route }}",
                success:updateMap
            });
        }, 10000);

        jQuery(document).ready(function() {
            jQuery("abbr.timeago").timeago();
        });

    </script>
{% endblock %}