{% extends 'GPSUserBundle::layout.html.twig' %}

{% block gps_user_content %}

    <h2>
        Usuarios
        <a class="btn btn-small btn-primary" href="{{ path('user_new') }}">
            <i class="icon-plus icon-white"></i> Nuevo Usuario
        </a>
    </h2>

    <table class="table table-full">
        <thead>
        <tr>
            <th class="span2">Usuario</th>
            <th class="span3">Email</th>
            <th class="span2">Último Ingreso</th>
            <th class="span3">Permisos</th>
            <th class="span2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('user_show', { 'username': user.username }) }}">{{ user.username }}</a>
                </td>
                <td>{{ user.email }}</td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% for role in user.roleNames %}
                        <span class="badge badge-info">{{ role }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if user.enabled %}
                        <a class="btn btn-mini btn-success"
                           href="{{ path('user_activate', { 'username': user.username }) }}">
                            <i class="icon-ok icon-white"></i> Activo
                        </a>
                    {% else %}
                        <a class="btn btn-mini btn-danger"
                           href="{{ path('user_activate', { 'username': user.username }) }}">
                            <i class="icon-remove icon-white"></i> Inactivo
                        </a>
                    {% endif %}
                    <a class="btn btn-mini" href="{{ path('user_edit', { 'id': user.id }) }}">
                        <i class="icon-pencil"></i> Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock gps_user_content %}
