{% extends 'GPSUserBundle::layout.html.twig' %}

{% block gps_user_content %}

    <h1>Nuevo Usuario</h1>

    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                Back to the list
            </a>
        </li>
    </ul>


{% endblock gps_user_content %}

