{% extends 'GPSUserBundle::layout.html.twig' %}

{% block gps_user_content %}

    <h1>User</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ user.enabled }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles|join(', ') }}</td>
        </tr>
        <tr>
            <th>Ruc</th>
            <td>{{ user.ruc }}</td>
        </tr>
        <tr>
            <th>Phones</th>
            <td>{{ user.phones }}</td>
        </tr>
        <tr>
            <th>Options</th>
            <td>{{ user.options|join(', ') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">
                Edit
            </a>
        </li>
    </ul>

{% endblock gps_user_content %}
