{% extends '::base.html.twig' %}

{% block body %}

    <div id="map" style="width: 1200px; height:550px"></div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="/bundles/gpsdemo/js/jquery.js"></script>
    <script type="text/javascript" src="/bundles/gpsdemo/js/gmap3.js"></script>

    <script type="text/javascript">

        $map = $('#map');
        $map.gmap3();

        function updateMap(data) {
            $map.gmap3({
                marker:{
                    values: data
                }
            });
        }

        setInterval(function () {
            $.ajax({
                url:"{{ path('demo_items') }}",
                success:updateMap
            });
        }, 500);

    </script>
{% endblock %}