{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h1>Editar Vehículo</h1>

<form action="{{ path('vehicle_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Editar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('vehicle') }}">
            Volver a la lista de vehículos
        </a>
    </li>
    <li>
        <form action="{{ path('vehicle_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock content %}
