{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h2>
    Vehículos
    <a class="btn btn-small btn-primary" href="{{ path('vehicle_new') }}">
        <i class="icon-plus icon-white"></i> Nuevo Vehículo
    </a>
</h2>

<table class="table table-full">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Conductor</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>GPS ID</th>
            <th>Acciónes</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="span2"><a href="{{ path('vehicle_show', { 'id': entity.id }) }}">{{ entity.plate }}<a/></td>
            <td>{{ entity.driver }}</td>
            <td>{{ entity.brand }}</td>
            <td>{{ entity.model }}</td>
            <td>{{ entity.year }}</td>
            <td>{{ entity.id }}</td>
            <td>
                {% if entity.enabled %}
                    <a class="btn btn-mini btn-success"
                       href="{{ path('vehicle_activate', { 'id': entity.id }) }}">
                        <i class="icon-ok icon-white"></i> Activo
                    </a>
                {% else %}
                    <a class="btn btn-mini btn-danger"
                       href="{{ path('vehicle_activate', { 'id': entity.id }) }}">
                        <i class="icon-remove icon-white"></i> Inactivo
                    </a>
                {% endif %}
                <a class="btn btn-mini" href="{{ path('vehicle_edit', { 'id': entity.id }) }}">
                    <i class="icon-pencil"></i> Editar
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
