{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h1>Agregar vehículo</h1>

<form action="{{ path('vehicle_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('vehicle') }}">
            Volver a la lista de vehículos.
        </a>
    </li>
</ul>

{% endblock content %}
