{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h1>Vehicle</h1>

<table class="table table-full">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Placa</th>
            <td>{{ entity.plate }}</td>
        </tr>
        <tr>
            <th>Conductor</th>
            <td>{{ entity.driver }}</td>
        </tr>
        <tr>
            <th>Marca</th>
            <td>{{ entity.brand }}</td>
        </tr>
        <tr>
            <th>Modelo</th>
            <td>{{ entity.model }}</td>
        </tr>
        <tr>
            <th>Año</th>
            <td>{{ entity.year }}</td>
        </tr>
        <tr>
            <th>Color</th>
            <td>{{ entity.color }}</td>
        </tr>
        <tr>
            <th>Numero de seguro</th>
            <td>{{ entity.insurance }}</td>
        </tr>
        <tr>
            <th>Fecha de inicio del seguro</th>
            <td>{{ entity.insuranceStartat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fecha de fin del seguro</th>
            <td>{{ entity.insuranceEndat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Compañia de seguros</th>
            <td>{{ entity.insuranceCompany }}</td>
        </tr>
        <tr>
            <th>Numero de Chip</th>
            <td>{{ entity.chip }}</td>
        </tr>
        <tr>
            <th>GPS ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fecha de instalación.</th>
            <td>{{ entity.installationat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Modelo de rastreador</th>
            <td>{{ entity.trackerModel }}</td>
        </tr>
        <tr>
            <th>Marca del rastreador</th>
            <td>{{ entity.trackerBrand }}</td>
        </tr>
        <tr>
            <th>Foto</th>
            <td>{{ entity.path }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('vehicle') }}">
            Volver a la lista de vehículos.
        </a>
    </li>
    <li>
        <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('vehicle_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock content %}
