<h2>Grupos <a class="btn btn-small btn-primary" href="{{ path('fos_user_group_new') }}">
    <i class="icon-plus icon-white"></i> Nuevo Grupo</a></h2>

<table class="table table-full">
    <thead>
    <tr>
        <th class="span10">Nombre</th>
        <th class="span2">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td>
                <a href="{{ path('fos_user_group_show', {'groupname': group.getName()} ) }}">{{ group.getName() }}</a>
            </td>
            <td>
                {% if group.enabled %}
                    <a class="btn btn-mini btn-success"
                       href="{{ path('group_activate', { 'name': group.name }) }}">
                        <i class="icon-ok icon-white"></i> Activo
                    </a>
                {% else %}
                    <a class="btn btn-mini btn-danger"
                       href="{{ path('group_activate', { 'name': group.name }) }}">
                        <i class="icon-remove icon-white"></i> Inactivo
                    </a>
                {% endif %}
                <a class="btn btn-mini" href="{{ path('user_edit', { 'id': group.id }) }}">
                    <i class="icon-pencil"></i> Editar
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
