<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'group.new.submit'|trans([], 'FOSUserBundle') }}" />
        <a class="btn" href="{{ path('fos_user_group_list') }}">Cancelar</a>
    </div>
</form>
