{% extends "FOSUserBundle::layout.html.twig" %}

{% block alert %}
    {% if error %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{ error|trans({}, 'FOSUserBundle') }}
        </div>
    {% endif %}
{% endblock alert %}

{% block fos_user_content %}
    <div class="span5 offset2">
        <div class="hero-unit">
            <h1>ExpertGPS</h1>

            <p>{{ 'site.slogan'|trans({}, 'GPSBundle') }}</p>

            <p>
                <a class="btn btn-primary btn-large" href="{{ path("fos_user_registration_register") }}">
                    {{ 'register'|trans({}, 'GPSBundle') }}
                </a>
            </p>
        </div>
    </div>
    <div class="span3">
        <form class="well" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="control-group">
                <label class="control-label" for="username">
                    {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"
                       for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                <div class="controls">
                    <input type="password" id="password" name="_password" required="required"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>
            </div>

            <div class="form-actions">
                <p><input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                          value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/></p>

                <p><a href="{{ path('fos_user_resetting_request') }}">
                    {{ 'resetting.button'|trans({}, 'GPSBundle') }}</a></p>

            </div>
        </form>
    </div>
{% endblock fos_user_content %}
