{% extends 'GPSBundle::layout.html.twig' %}

{% block alert %}
    {{ parent() }}
    {% for key, message in app.session.getFlashes() %}
        <div class="alert alert-{{ key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endblock alert %}

{% block content %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock content %}
