{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h2>
    Conductores
    <a class="btn btn-small btn-primary" href="{{ path('driver_new') }}">
        <i class="icon-plus icon-white"></i> Nuevo Conductor
    </a>
</h2>

<table class="table table-full">
    <thead>
        <tr>
            <th class="span4">Nombre</th>
            <th class="span1">DNI</th>
            <th>Categoria</th>
            <th>Licencia</th>
            <th>Acciónes</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('driver_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
            <td>{{ entity.dni }}</td>
            <td>{{ entity.licenseCategory }}</td>
            <td>{{ entity.license }}</td>
            <td>
                {% if entity.enabled %}
                    <a class="btn btn-mini btn-success"
                       href="{{ path('driver_activate', { 'id': entity.id }) }}">
                        <i class="icon-ok icon-white"></i> Activo
                    </a>
                {% else %}
                    <a class="btn btn-mini btn-danger"
                       href="{{ path('driver_activate', { 'id': entity.id }) }}">
                        <i class="icon-remove icon-white"></i> Inactivo
                    </a>
                {% endif %}
                <a class="btn btn-mini" href="{{ path('driver_edit', { 'id': entity.id }) }}">
                    <i class="icon-pencil"></i> Editar
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
