{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h1>Crear conductor</h1>

<form action="{{ path('driver_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('driver') }}">
            Volver a la lista de conductores
        </a>
    </li>
</ul>

{% endblock content %}