{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h1>Conductor</h1>

<table class="table table-full">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Numero de DNI</th>
            <td>{{ entity.dni }}</td>
        </tr>
        <tr>
            <th>Tipo de sangre</th>
            <td>{{ entity.bloodType }}</td>
        </tr>
        <tr>
            <th>Categoria de la licencia</th>
            <td>{{ entity.licenseCategory }}</td>
        </tr>
        <tr>
            <th>Numero de licencia</th>
            <td>{{ entity.license }}</td>
        </tr>
        <tr>
            <th>Fecha de expiración de la licencia</th>
            <td>{{ entity.licenseExpirationat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Restriccion de la licencia</th>
            <td>{{ entity.licenseRestriction }}</td>
        </tr>
        <tr>
            <th>Numero de seguro</th>
            <td>{{ entity.insurance }}</td>
        </tr>
        <tr>
            <th>Compañia de seguros</th>
            <td>{{ entity.insuranceCompany }}</td>
        </tr>
        <tr>
            <th>Fecha de expiración del seguro</th>
            <td>{{ entity.insuranceExpirationat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Foto</th>
            <td>{{ entity.path }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('driver') }}">
            Volver a la lista de conductores
        </a>
    </li>
    <li>
        <a href="{{ path('driver_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('driver_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock content %}