{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}
<h1>Editar punto de Interés</h1>

<form action="{{ path('geo_pinterest_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Editar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('geo_pinterest') }}">
            Volver a la lista de puntos de inteŕes.
        </a>
    </li>
    <li>
        <form action="{{ path('geo_pinterest_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock content %}