{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h2>
    Puntos de interés
    <a class="btn btn-small btn-primary" href="{{ path('geo_pinterest_new') }}">
        <i class="icon-plus icon-white"></i> Nuevo Punto
    </a>
</h2>

<table class="table table-full">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciónes</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('geo_pinterest_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.phone }}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('geo_pinterest_edit', { 'id': entity.id }) }}">
                    <i class="icon-pencil"></i> Editar
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}