{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}
<h1>Crear punto de interés</h1>

<form action="{{ path('geo_pinterest_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('geo_pinterest') }}">
            Volver a la lista de puntos de interés.
        </a>
    </li>
</ul>
{% endblock content %}
