{% extends 'GPSBundle::layout.html.twig' %}

{% block content %}

<h1>Punto de Interés</h1>

<table class="table table-full">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Dirección</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Latitud</th>
            <td>{{ entity.latitude }}</td>
        </tr>
        <tr>
            <th>Longitud</th>
            <td>{{ entity.longitude }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ entity.phone }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('geo_pinterest') }}">
            Volver a la lista de punto de interés.
        </a>
    </li>
    <li>
        <a href="{{ path('geo_pinterest_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('geo_pinterest_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock content %}

